{% load staticfiles otree %}

<div class="container" id="instructionsArea">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div id="coinWrapper" class="selectionWrapper">
                    {% for point in num_coins_list %}
                        <img class="coin" src='{% static 'devilsTask/img/unknown.png' %}' id='{{ point }}'/>
                    {% endfor %}
                </div>

            </div>
            <div class="row d-flex justify-content-between">
                <img src='{%  static 'devilsTask/img/treasure_chest.png' %}' id="btnCollectCoins" class="buttonGeneral" />
                <img src='{%  static 'devilsTask/img/magnifying_glass.png' %}' id="btnCheckSelection" class="buttonGeneral" />
            </div>
        </div>

        <div class="col-3">
            <p>
                Runde {{ round }} von {{ Constants.num_rounds }}<br />
                {{ total_payoff_app }} Taler gesammelt
            </p>
            <img src='{%  static 'devilsTask/img/treasure_chest_top.png' %}' class="treasureChest" />
            <div class="pointGrid">
                {% for point in total_payoff_app_list %}
                    <div class="point"></div>
                {% endfor %}
            </div>
            <img src='{%  static 'devilsTask/img/treasure_chest_bottom.png' %}' class="treasureChest" />
        </div>
    </div>
</div>