#container {
    width: 80vmin;
    height: 80vmin;
    position: relative;
    margin: auto;
    border: 2px solid red;
}

h2, .otree-title, .page-header {
    display: none !important;
    margin: 0;
}

.pond {
    position: absolute;
    width: 40vmin;
    height: 20vmin;
    background: dodgerblue;
    border-radius: 30vmin / 15vmin;
}

.frog {
    display: block;
    position: absolute;
    width: 12vmin;
    height: 12vmin;
    background-color: lawngreen;
    border-radius: 2vmin;
    left: 10vmin;
    top: 60vmin;
    transition: all 1s;
}