#container {
    width: 80vmin;
    height: 80vmin;
    position: relative;
    margin: auto;
}

h2, .otree-title, .page-header {
    display: none !important;
    margin: 0;
}

.pond {
    position: absolute;
    width: 40vmin;
    height: 20vmin;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url('../img/pond.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
}

.frog {
    display: block;
    position: absolute;
    width: 14vmin;
    height: 14vmin;
    border-radius: 6vmin;
    border: 2px solid #74BC18;
    transition: all 1s;
    transition-timing-function: ease-out;
    visibility: hidden;
    background-image: url('../img/frog.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center center;
}

.frogs {
    position: absolute;
    left: 1vmin;
    top: 1vmin;
}

.round {
    position: absolute;
    right: 1vmin;
    top: 1vmin;
}