#container {
    width: 80vmin;
    height: 80vmin;
    position: relative;
    margin: auto;
    border: 2px solid red;
}

h2, .otree-title, .page-header {
    display: none !important;
    margin: 0;
}

.pond {
    position: absolute;
    width: 40vmin;
    height: 20vmin;
    background: dodgerblue;
    border-radius: 30vmin / 15vmin;
    left: 50%;
    transform: translate(-50%, 0);
}

.frog {
    display: block;
    position: absolute;
    width: 12vmin;
    height: 12vmin;
    background-color: lawngreen;
    border-radius: 2vmin;
    transition: all 1s;
    visibility: hidden;
}

.frogs {
    position: absolute;
    left: 1vmin;
    top: 1vmin;
}

.round {
    position: absolute;
    right: 1vmin;
    top: 1vmin;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30vh;
    justify-items: center;
    margin-top: 5vh;
}

.pictures{
    padding: 5vmin;
    border: 1px solid black;
    max-height: 30vh;
}

label > input{ /* HIDE SUBMIT */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:8px solid transparent;
}