{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href='{% static 'frog/css/pond.css' %}' rel="stylesheet" />
{% endblock %}

{% block content %}

    {% include "StartButtonOverlay.html" %}

    <div id="container">
        <div id="pond" class="pond"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "global/js/startButtonOverlay.js" %}"></script>
    <script>
        const game_mode = {{ game_mode|json }};

        let audio = new Audio();
        if (game_mode == 1) {
            audio = new Audio('{% static 'frog/audio/single-player.wav' %}');
        } else if (game_mode == 2){
            audio = new Audio('{% static 'frog/audio/competition.wav' %}');
        }

        const playAudio = () => {
            audio.play().then(() => {
                setTimeout(function() {
                    document.getElementById("form").submit();
                }, audio.duration * 1000)
            }).catch(e => {
                showStartButtonOverlay(playAudio);
                console.log(e.message);
            });
        }

        playAudio();
    </script>

{% endblock %}