{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'frog/css/pond.css' %}" rel="stylesheet" />
    <link href="{% static 'frog/css/instructions.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    {% include "StartButtonOverlay.html" %}

    <div id="container">
        <div id="pond" class="pond"></div>
        <div id="frog1" class="frog"></div>
        <div id="frog2" class="frog"></div>
        <div id="frog3" class="frog"></div>
        <div id="frog4" class="frog"></div>
        <div id="frog5" class="frog"></div>
        <div id="frog6" class="frog"></div>
        <div id="frog7" class="frog"></div>
        <img id="finger1" class="finger" src="{% static 'frog/img/index_finger.png' %}" alt="a finger" />
        <img id="finger2" class="finger" src="{% static 'frog/img/index_finger.png' %}" alt="a finger" />
        <img id="finger3" class="finger" src="{% static 'frog/img/index_finger.png' %}" alt="a finger" />
        <img id="finger4" class="finger" src="{% static 'frog/img/index_finger.png' %}" alt="a finger" />
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'global/js/startButtonOverlay.js' %}"></script>
    <script src="{% static 'frog/js/instructions.js' %}"></script>
    <script>
        window.onload = initialize;

        function initialize() {
            initializeJs(
                "{% static 'frog/audio/splash.mp3' %}",
                "{% static 'frog/audio/quak.mp3' %}",
                "{% static 'frog/audio/intro-1-movement.mp3' %}",
                "{% static 'frog/audio/intro-1-zwei-versuche.mp3' %}",
                "{% static 'frog/audio/intro-1-ueben.mp3' %}",
            );
        }

    </script>
{% endblock %}