{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href='{% static "frog/css/pond.css" %}' rel="stylesheet" />
{% endblock %}

{% block content %}

    <div id="container">
        <div id="pond" class="pond"></div>
        <div id="frog" class="frog"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "frog/js/movement.js" %}"></script>
    <script>
        window.onload = initialize;

        function initialize() {
            initializeJs(
            '{% static 'frog/audio/splash.mp3' %}',
            '{% static 'frog/audio/quak.mp3' %}',
            true);
        }

    </script>
{% endblock %}