{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href='{% static "frog/css/pond.css" %}' rel="stylesheet" />
{% endblock %}

{% block content %}

    <div id="container">
        <p class="frogs">{{ frogs }}
            {% if frogs == 1 %}
                Frosch im Teich
            {% else %}
                Frösche im Teich
            {% endif %}
        </p>
        <p class="round">
            {% if round < 1 %}
                Testlauf
            {% else %}
                Runde {{ round }}
            {% endif %}</p>
        <div id="pond" class="pond"></div>
        <div id="frog" class="frog"></div>
    </div>

    <input type="hidden" name=frog_success id="frog_success" />

{% endblock %}

{% block scripts %}
    <script src="{% static "frog/js/movement.js" %}"></script>
    <script>
        window.onload = initialize;

        function initialize() {
            initializeJs(
            '{% static 'frog/audio/splash.mp3' %}',
            '{% static 'frog/audio/quak.mp3' %}',
            '{% static 'frog/audio/Erinnerung.wav' %}');
        }

    </script>
{% endblock %}