{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href='{% static "devilsTask/css/coinGrid.css" %}' rel="stylesheet" />
    <link href='{% static "devilsTask/css/instructions.css" %}' rel="stylesheet" />

    <style>
        body {
            background-color: lightyellow;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "DevilsTaskInstructionArea.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "devilsTask/js/instructionsSimultaneous.js" %}"></script>
    <script>
        window.onload = initialize;

        function initialize() {
            initializeJs(
                '{% static 'devilsTask/img/coin.png' %}',
                '{% static 'devilsTask/img/devil.jpg' %}',
                '{% static 'devilsTask/img/unknown.png' %}',
                '{% static 'devilsTask/audio/pass-gut-auf.mp3' %}',
                '{% static 'devilsTask/audio/hinter-den-feldern.mp3' %}',
                '{% static 'devilsTask/audio/Erst wenn Du auf die Lupe tippst.mp3' %}',
                '{% static 'devilsTask/audio/wenn-aber-das-teufelchen.mp3' %}',
                '{% static 'devilsTask/audio/insgesamt-sieben-runden-2.mp3' %}',
                '{% static 'devilsTask/audio/Wenn Du Fragen hast.mp3' %}',
            );
        }

    </script>
{% endblock %}