.coin_grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 1fr 4fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    text-align: center;
}

.coin_container {
    border: 5px transparent solid;
}

#coin_left_1 {
    grid-area: 1 / 1 / 2 / 2;
}
#coin_right_1 {
    grid-area: 1 / 3 / 2 / 4;
}
#coin_left_2 {
    grid-area: 2 / 1 / 3 / 2;
}
#coin_right_2 {
    grid-area: 2 / 3 / 3 / 4;
}
#coin_left_3 {
    grid-area: 3 / 1 / 4 / 2;
}
#coin_right_3 {
    grid-area: 3 / 3 / 4 / 4;
}
#coin_left_4 {
    grid-area: 4 / 1 / 5 / 2;
}
#coin_right_4 {
    grid-area: 4 / 3 / 5 / 4;
}
#coin_left_5 {
    grid-area: 5 / 1 / 6 / 2;
}
#coin_right_5 {
    grid-area: 5 / 3 / 6 / 4;
}
.selector {
    grid-area: 1 / 2 / 6 / 3;
}

.coin {
    max-height: 9vh;
}

.selected {
    border: 5px red solid;
}