{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href='{% static "devilsTask/css/choices.css" %}' rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="grid">
        <form>
            <div class="male">
                <label for="male">
                  <input name="gender" type="submit" id="male" value="male"/>
                  <img class="pictures" src="{% static 'devilsTask/img/male.png' %}">
                </label>
            </div>

            <div class="female">
                <label for="female">
                  <input name="gender" type="submit" id="female" value="female"/>
                  <img class="pictures" src="{% static 'devilsTask/img/female.png' %}">
                </label>
            </div>
        </form>
    </div>

{% endblock %}