{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href='{% static "devilsTask/css/coinGrid.css" %}' rel="stylesheet" />
    <link href='{% static "devilsTask/css/instructions.css" %}' rel="stylesheet" />
{% endblock %}

{% block content %}
    {% include "DevilsTaskInstructionArea.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "devilsTask/js/instructions.js" %}"></script>
    <script>
        window.onload = initialize;

        function initialize() {
            initializeJs(
                '{% static 'devilsTask/img/coin.png' %}',
                '{% static 'devilsTask/img/devil.jpg' %}',
                '{% static 'devilsTask/img/unknown.png' %}',
                '{% static 'devilsTask/audio/devil-intro.mp3' %}',
                '{% static 'devilsTask/audio/anleitung-taler.mp3' %}',
                '{% static 'devilsTask/audio/anleitung-teufel.mp3' %}',
                '{% static 'devilsTask/audio/anleitung-zweiter-teil-3.mp3' %}',
                '{% static 'devilsTask/audio/sichern-schloss-tippen.mp3' %}',
                '{% static 'devilsTask/audio/insgesamt-sieben-runden.mp3' %}',
                '{% static 'devilsTask/audio/jetzt-du.mp3' %}',
            );
        }

    </script>
{% endblock %}