{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href='{% static "devilsTask/css/coinGrid.css" %}' rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="outerGrid">
                    <div id="coinWrapper" class="selectionWrapper"></div>
                    <div id="btnCollect" class="collectPoints buttonBoth">Punkte sammeln</div>
                    <div id="btnNewRound" class="newRound buttonBoth">Neue Runde</div>
                </div>
            </div>

            <div class="col-4">
                <p>Gewonnene Punkte</p>
                <div id="pointWrapper" class="pointGrid">
                </div>
            </div>
        </div>
    </div>




    {% next_button %}

{% endblock %}

{% block scripts %}
    <script>
        window.onload = resetField;

        let pointsToAdd;
        let randomDevil;

        function resetField() {
            // random number between 0 and num_coins
            randomDevil = Math.floor(Math.random() * {{ Constants.num_coins }});
            pointsToAdd = 0;
            console.log("random Devil: " + randomDevil);
            removeAllChildren(document.getElementById("coinWrapper"));
            addCoins();
            document.getElementById("btnCollect").addEventListener("click", collectPoints);
            document.getElementById("btnNewRound").addEventListener("click", resetField);
        }

        function removeAllChildren(node) {
            while (node.firstChild) {
                console.log("Remove first child");
                node.removeChild(node.firstChild);
            }
        }

        function addCoins() {
            let coinGrid = document.getElementById("coinWrapper");
            for (let i = 0; i < {{ Constants.num_coins }}; i++) {
                let img = document.createElement("img");
                img.src = '{% static 'devilsTask/img/firstCoin.png' %}';
                img.classList.add('coin');
                coinGrid.appendChild(img);
                if (i === randomDevil) {
                    img.addEventListener("click", revealDevil);
                } else {
                    img.addEventListener("click", revealSecondCoin);
                }
            }
        }

        function revealSecondCoin() {
            pointsToAdd += 1;
            console.log("points to add: " + pointsToAdd);
            this.src = '{% static 'devilsTask/img/secondCoin.png' %}';
            this.style.backgroundColor = "#90EE90";
            this.removeEventListener("click", revealSecondCoin);
        }

        function revealDevil() {
            pointsToAdd = 0;
            console.log("points to add: " + pointsToAdd);
            this.src = '{% static 'devilsTask/img/devil.jpg' %}';
            removeCoinEventListeners();
        }

        function removeCoinEventListeners() {
            let coinImages = document.getElementsByClassName("coin");
            for (let i = 0; i < coinImages.length; i++) {
                coinImages[i].removeEventListener("click", revealSecondCoin, false);
                coinImages[i].removeEventListener("click", revealDevil, false);
            }
        }

        function collectPoints() {
            removeCoinEventListeners();
            let pointGrid = document.getElementById("pointWrapper");
            for (let i = 0; i < pointsToAdd; i++) {
                let point = document.createElement("div");
                point.classList.add("point");
                pointGrid.appendChild(point);
            }
            this.removeEventListener("click", collectPoints);
        }

    </script>
{% endblock %}
