{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href='{% static "devilsTask/css/coinGrid.css" %}' rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="outerGrid">
                    <div id="coinWrapper" class="selectionWrapper"></div>
                    <div id="btnCollect" class="collectPoints buttonBoth">Punkte sammeln</div>
                    <div id="btnNewRound" class="newRound buttonBoth">Neue Runde</div>
                </div>
            </div>

            <div class="col-3">
                <p>Runde: <span id="roundNumber"></span></p>
                <p>Gewonnene Punkte:  <span id="totalScore"></span></p>
                <div id="pointWrapper" class="pointGrid"></div>
            </div>
        </div>
    </div>


    {% next_button %}

{% endblock %}

{% block scripts %}
    <script src="{% static "devilsTask/js/select.js" %}"></script>
    <script>
        window.onload = resetField;

        let roundNumber = 0;
        let score = 0;
        let pointsToAdd;
        let randomDevil;
        const btnCollect = document.getElementById("btnCollect");
        const btnNewRound = document.getElementById("btnNewRound");
        const coinGrid = document.getElementById("coinWrapper");
        const roundNumberField = document.getElementById("roundNumber");
        const scoreField = document.getElementById("totalScore");

        function resetField() {
            // random number between 0 and num_coins
            randomDevil = Math.floor(Math.random() * {{ Constants.num_coins }});
            pointsToAdd = 0;

            console.log("random Devil: " + randomDevil);
            let firstTime = (coinGrid.childNodes.length === 0);
            if (firstTime) {
                addCoins();
            } else {
                removeCoinEventListeners();
                addCoinListeners();
            }

            showElement(btnCollect);
            if (roundNumber < {{ Constants.num_rounds }}) {
                roundNumber += 1;
                roundNumberField.innerHTML = roundNumber;
                btnCollect.addEventListener("click", collectPoints);
            } else {
                alert("Spiel zu Ende.");
            }

            hideElement(btnNewRound);
            btnNewRound.addEventListener("click", resetField);
        }

        function addCoins() {
            for (let i = 0; i < {{ Constants.num_coins }}; i++) {
                let img = document.createElement("img");
                img.classList.add('coin');
                coinGrid.appendChild(img);
                addCoinListeners();
            }
        }

        function addCoinListeners() {
            for (let i = 0; i < coinGrid.childNodes.length; i++) {
                let coin = coinGrid.childNodes[i];
                coin.style.backgroundColor = "#FFF";
                coin.src = '{% static 'devilsTask/img/firstCoin.png' %}';
                if (i === randomDevil) {
                    coin.addEventListener("click", revealDevil);
                } else {
                    coin.addEventListener("click", revealSecondCoin);
                }
            }
        }

        function revealSecondCoin() {
            pointsToAdd += 1;
            console.log("points to add: " + pointsToAdd);
            this.src = '{% static 'devilsTask/img/secondCoin.png' %}';
            this.style.backgroundColor = "#90EE90";
            this.removeEventListener("click", revealSecondCoin);
        }

        function revealDevil() {
            pointsToAdd = 0;
            console.log("points to add: " + pointsToAdd);
            this.src = '{% static 'devilsTask/img/devil.jpg' %}';
            removeCoinEventListeners();
            showElement(btnNewRound);
            hideElement(btnCollect);
        }

        function collectPoints() {
            hideElement(document.getElementById("btnCollect"));
            removeCoinEventListeners();
            let pointGrid = document.getElementById("pointWrapper");
            for (let i = 0; i < pointsToAdd; i++) {
                let point = document.createElement("div");
                point.classList.add("point");
                pointGrid.appendChild(point);
            }
            score += pointsToAdd;
            scoreField.innerHTML = score;
            showElement(document.getElementById("btnNewRound"));
        }

    </script>
{% endblock %}
